html {
  font-family: "Helvetica", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../images/heroImg_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

header {
  /* background-color: aqua; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo img {
  width: 50px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}



nav ul {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
}

.navmenu {
  width: 50vw;
  text-align: center;
}

.heroImg {
  height: calc(100vh - 150px);
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.heroImg .content {
  padding: 48px 0;
  text-align: center;
}

.heroImg .content img {
  height: 300px;
  width: auto;
}

.content {
  margin: 0 auto;
  /* outline: 1px solid red; */
}

footer {
  background-color: #c6c6c6;
  padding-top: 12px;
  padding-bottom: 48px;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer li {
  margin-left: 24px;
  margin-right: 24px;
}